.button {
	-fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "System";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 16px;
    -fx-padding: 8 16 8 16;
}

.button:hover {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#10161b, #090d12),
        radial-gradient(center 50% 0%, radius 100%, rgba(84,101,118,0.9), rgba(128,128,128,0));
    -fx-text-fill: darkorange;
}

.combo-box {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-font-family: "System";
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.combo-box .list-cell:selected {
     -fx-text-fill: white; 
}

.choice-box{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-font-family: "System";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.panel {
	-fx-background-color: dimgray;
}

.mcts-back {
	-fx-background-color: dimgray;
	-fx-background-insets: 5;
}

.label {
	-fx-font-family: "System";
	-fx-text-fill: black;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to bottom, derive(darkorange, -22%), derive(darkorange, 3%), derive(darkorange, -18%), derive(darkorange, -24%) );
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}

.progress-bar .track {
    -fx-background-color: 
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(dimgray, 20%), dimgray),
          linear-gradient(to bottom, 
            derive(darkgray, 3%),
            derive(darkgray, 10%),
            derive(darkgray, 7%),
            derive(darkgray, 1%)
          );
}

.scroll-pane {
	-fx-background-color: linen;
	-fx-control-inner-background: linen;
}

.bordered-panel {
	-fx-background-color: darkgray;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-border-color: darkslategrey;
	-fx-border-radius: 10;
	-fx-border-insets: 4;
}

.bordered-dialog {
	-fx-background-color: linen;
	-fx-background-radius: 10;
	-fx-border-width: 3;
	-fx-border-color: darkslategrey;
	-fx-border-radius: 10;
	-fx-border-insets: 4;
}

.dialog-text {
	-fx-font-size: 10pt;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

.sidebar {
	-fx-background: tan;
	-fx-border-width: 2;
	-fx-border-color: darkslategrey;
	-fx-background-color: tan;
	-fx-border-radius: 10;
}

.header {
	-fx-font-size: 24pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-fill: black;
}

.h2 {
	-fx-font-size: 16pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-fill: black;
}

.card-border {
	 -fx-background-color: navajowhite;
	 -fx-border-color: black;
	 -fx-border-style: solid;
	 -fx-border-width: 1.0;
}

.outlined-score {
 	-fx-font-size: 14pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.outlined-score-yellow {
 	-fx-font-size: 14pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-fill: yellow;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.tooltip-description {
	-fx-font-size: 11pt;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

.race-label {
	-fx-font-size: 8pt;
    -fx-font-family: "System";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-style : italic;
}

.name-big {
	-fx-font-size: 14pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.name-small {
	-fx-font-size: 10pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.progress-text {
	-fx-font-size: 8pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.info-small {
	-fx-font-size: 10pt;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

.label-white {
	-fx-font-family: "System";
	-fx-text-fill: white;
}

.default-label {
	-fx-font-size: 18pt;
    -fx-font-family: "System";
    -fx-fill: dimgray;
}

.separator {
    -fx-background-color: dimgray;
    -fx-background-radius: 2;
}

.separator *.line 
{ 
	-fx-border-style: solid;
	-fx-border-width: 0.5px;
}

.text-field {
   -fx-background-color: antiquewhite;
   -fx-border-width: 1;
   -fx-border-color: black;
}

.error-text-field {
	-fx-border-color:red; 
	-fx-background-color: blue; 
	-fx-text-fill: white;
}

.mana-label {
	-fx-font-size: 12pt;
    -fx-font-family: "System";
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

.card-entry {
	-fx-border-width: 2;
	-fx-border-color: black;
	-fx-background-color: tan;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

