.title {
	-fx-font-size: 32.0pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 6.0, 0.9, 1.0, 1.0);
    -fx-fill: white;
}

.main-button {
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-font-family: "System";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
}

.main-button:hover {
    -fx-text-fill: darkorange;
}

